@import "partials/typography";
@import "partials/colors";

@import "partials/home";
@import "partials/navigation";
@import "partials/latest";
@import "partials/topics";
@import "partials/users";

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $ovo;
  background-color: $mint-green;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 2rem;
}

button {
  background: grey;
  color: white;
  border: none;
  font-family: $poppins;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $pink;
}

ul {
  list-style: none;
}