<div class="latest-container">
  <h2 class="header-title">Latest</h2>
    <div
      ng-repeat="message in messages | orderBy :'-message'"
      class="latest-msgs">
      <a
        ng-href="/topics/{{message.topic.id}}"
        class="topic-title">
          {{ message.topic.name }}
      </a>
      <p class="message-body">
        {{ message.body }}
      </p>
      <p class="message-username">
        By: {{ message.user.name }}
      </p>
      <p class="message-date">
        Date Posted: {{ message.createdAt | date:'short' }}
      </p>
    </div>
</div>

