<div class="topics-container">
  <h2 class="header-title">{{ topic.name }}</h2>
  <div class="topic-info-box">
    <div
      ng-repeat="message in messages | orderBy: '-createdAt'"
      class="each-message">

      <h3 class="message-name">
        {{ message.user.name }}
      </h3>
      <p class="message-body">
        {{ message.body }}
      </p>
      <p>
        <small>
          Date posted: {{ message.createdAt | date: 'short' }}
        </small>
      </p>
    </div>
  </div>
  <br>

  <div class="new-msg-box" ng-switch="loggedIn">
    <textarea
    type="text"
    ng-model="newMessage.body"
    ng-switch-when="true"
    class="message-input">
  </textarea>
    <br>
  <button
    ng-click="addMessage()"
    ng-switch-when="true"
    class="new-msg-btn">
      Add Message
  </button>
  </div>
</div>

